<plist>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Wattercooler</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>watercooler</string>
            </array>
        </dict>
    </array>
</plist>